html {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.jumbotron-1 {
  width: 100%;
  height: 1390px;
  background-color: #029f58;
  background-image: url("/src/bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nav-logo {
  padding: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}
.nav-logo img {
  align-self: center;
}
.nav-brand {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000;
  margin-left: 3px;
  align-self: center;
}
#menu-icon {
  display: none;
}
.mobile-menu {
  display: none;
}
#main-nav {
  margin-left: auto;
  margin-right: 60px;
  margin-top: 20px;
}
#main-nav > ul {
  list-style-type: none;
  padding: 0;
}
#main-nav li {
  display: inline;
}
#main-nav > ul > li > a {
  padding: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: #fff;
}
.main-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
}
.headline-container {
  max-width: 50%;
  padding: 0px 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.headline {
  font-family: "DM Sans", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: #fff;
}
.tagline {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  color: #fff;
  padding: 0px 5px;
  margin-top: -60px;
}
.store-button-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.top-store-buttons {
  outline: none;
  width: 250px;
  padding: 0px;
  border-radius: 7px;
  border: none;
  margin-right: 10px;
}
.top-store-buttons img {
  width: 250px;
}
.phones-container {
  min-height: 538px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#phone1 {
  width: 510px;
  position: absolute;
  top: 165px;
  margin-top: 75px;
  margin-right: 350px;
  transform: rotate(-22.7deg);
}
#phone2 {
  width: 510px;
  position: absolute;
  margin-right: -350px;
  margin-top: 75px;
  top: 165px;
  transform: rotate(22.7deg);
}
#phone3 {
  width: 510px;
  position: absolute;
  top: 0;
  margin-top: 75px;
  z-index: 2;
}
.jumbotron-2 {
  width: 100%;
  background-color: #fafafa;
  background-image: url("/src/bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.text-box {
  background-color: transparent;
  margin: 0px;
  text-align: left;
  width: 60%;
  padding: 20px 150px 70px 150px;
}
.text-box h3 {
  color: #007640;
  font-family: "DM Sans", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: -0.03em;
  text-align: left;
  position: relative;
  z-index: 2;
}
.text-box p {
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justify;
  margin-top: -30px;
}
.text-box > img {
  position: absolute;
  left: 90px;
  z-index: 1;
}
.image-box {
  width: 40%;

  padding: 0px 30px;
}
.jumbotron-3 {
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.jumbotron-3 > .left-box {
  width: 39%;
  padding: 50px;
}
.pill {
  margin-top: 15px;
}
.jumbotron-3 > .left-box h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: -0.03em;
  text-align: left;
}
.jumbotron-3 > .left-box p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.jumbotron-4 {
  width: 100%;

  background: #fff;
  display: flex;
  flex-wrap: wrap;
}
.jumbotron-4 .left-box {
  width: 60%;
  height: inherit;
  background: #039352;
  background-image: url("bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 100px 150px;
}
#left-box-chat-icon {
  float: right;
}

.jumbotron-4 > .left-box h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 68px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: -0.03em;
  text-align: left;
}
.jumbotron-4 > .left-box p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.jumbotron-4 .right-box {
  width: 40%;
}
.jumbotron-4 .right-box img {
  width: 100%;
}
.jumbotron-5 {
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}
.jumbotron-5 .left-box {
  width: 50%;
  overflow: hidden;
  position: relative;
}
.jumbotron-5 .left-box img {
  width: 432px;
  position: absolute;
  top: 100px;
  left: 200px;
}
.jumbotron-5 .right-box {
  width: 50%;
  padding: 100px 170px;
}

.jumbotron-5 > .right-box h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 68px;
  font-style: normal;
  color: #000;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: -0.03em;
  text-align: left;
}
.jumbotron-5 > .right-box p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #000;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.jumbotron-6 {
  width: 100%;
  background: #272727;
  display: flex;
  flex-wrap: wrap;
}
.jumbotron-6 .left-box {
  width: 50%;
  height: inherit;
  background: #272727;
}
.jumbotron-6 .left-box img {
  margin-left: 15%;
  width: 584px;
  height: inherit;
}
.jumbotron-6 .right-box {
  width: 50%;
  height: inherit;
  background: #272727;
  padding: 100px 170px;
}
#filter-icon {
  float: right;
}

.jumbotron-6 > .right-box h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 68px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: -0.03em;
  text-align: left;
}
.jumbotron-6 > .right-box p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.jumbotron-7 {
  width: 100%;
  background: #fff;
  padding: 0px 80px;
}
.jumbotron-7 > h2 {
  width: 35%;
  color: #007640;
  font-family: "DM Sans", sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: -0.03em;
  text-align: left;
  padding: 35px 15px;
}
.feature-box {
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}
.inner-feature-boxes {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.left-inner-feature-box {
  padding: 10px;
  display: flex;
}
.chain-link {
  align-self: flex-start;
  height: 350px;
  margin-top: 15px;
}
.features-text-content {
  padding-left: 20px;
}
.features-text-content > h4 {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: left;
}
.features-text-content > p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 73px;
}
.inner-feature-boxes:nth-child(2) {
  margin: auto;
}
.inner-feature-boxes:nth-child(2) img {
  width: 510px;
}
.big-green-box {
  width: 1200px;
  height: 623px;
  background-color: #029f58;
  background-image: url("/src/bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  bottom: 280px;
  width: 100%;
  margin-bottom: -150px;
}
.left-container {
  width: 40%;
  border-radius: 100px;
  padding: 104px 63px 0px 64px;
}
.right-container {
  width: 60%;
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.right-container > div {
  padding: 50px;
}
.right-container h2 {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 0;
}
.right-container p {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}
.bottom-store-buttons {
  outline: none;
  width: 180px;
  padding: 0px;
  border-radius: 7px;
  border: none;
  margin-left: 10px;
}
.bottom-store-buttons img {
  width: 180px;
}

.footer-container {
  width: 85%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  grid-column-gap: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0 auto;
}
.footer-container > div {
  background-color: #fff;
  padding: 20px;
}
#email-container {
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: left;
}
#email-subscription-headline {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
#email-subscription-headline > span {
  font-weight: 700;
}
#email-field {
  width: 81%;
  height: 56px;
  border: 1px solid rgba(18, 18, 18, 0.3);
  box-sizing: border-box;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 15px;
}
#subscribe-button {
  width: 180px;
  height: 56px;
  background: #121212;
  border-radius: 0px 10px 10px 0px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  position: relative;
  top: -1.5px;
  cursor: pointer;
}
.footer-container h5 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #121212;
  margin-bottom: 20px;
}
.footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container li {
  padding: 10px 0px;
  display: block;
}
.footer-container a {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 165.4%;
  color: #121212;
  margin: 0px;
}
.footer-logo-container {
  padding-top: 120px !important;
  display: flex;
}
.footer-brand {
  font-size: 55px;
}
.footer-logo {
  padding: 13px;
}
.footer-logo a img {
  margin-right: 11px;
}
.social-media-handles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .App {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-1 {
    width: 100%;
    height: 1390px;
    background-color: #029f58;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
  }
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-logo {
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }
  .nav-logo img {
    align-self: center;
  }
  .nav-brand {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin-left: 3px;
    align-self: center;
  }
  #main-nav {
    margin-left: auto;
    margin-right: 60px;
    margin-top: 20px;
  }
  #menu-icon {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  #main-nav > ul {
    list-style-type: none;
    padding: 0;
  }
  #main-nav li {
    display: inline;
  }
  #main-nav > ul > li > a {
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    color: #fff;
  }
  .main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
  }
  .headline-container {
    max-width: 80%;
    padding: 0px 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .headline {
    font-family: "DM Sans", sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 130px;
    color: #fff;
  }
  .tagline {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    color: #fff;
    padding: 0px 5px;
    margin-top: -60px;
  }
  .store-button-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .top-store-buttons {
    outline: none;
    width: 250px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
  }
  .top-store-buttons img {
    width: 250px;
  }
  .phones-container {
    min-height: 538px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  #phone1 {
    width: 350px;
    position: absolute;
    top: 165px;
    margin-top: 75px;
    margin-right: 350px;
    transform: rotate(-22.7deg);
  }
  #phone2 {
    width: 350px;
    position: absolute;
    margin-right: -350px;
    margin-top: 75px;
    top: 165px;
    transform: rotate(22.7deg);
  }
  #phone3 {
    width: 350px;
    position: absolute;
    top: 0;
    margin-top: 75px;
    z-index: 2;
  }
  .jumbotron-2 {
    width: 100%;
    background-color: #fafafa;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .text-box {
    background-color: transparent;
    margin: 0px;
    text-align: left;
    width: 60%;
    padding: 20px 50px 70px 50px;
  }
  .text-box h3 {
    color: #007640;
    font-family: "DM Sans", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 85px;
    letter-spacing: -0.03em;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .text-box p {
    font-family: "DM Sans", sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    margin-top: -30px;
  }
  .text-box > img {
    position: absolute;
    left: 90px;
    z-index: 1;
  }
  .image-box {
    width: 40%;
    padding: 0px 30px;
    overflow: hidden;
  }
  .image-box img {
    z-index: 0;
    overflow: hidden;
  }
  .jumbotron-3 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .jumbotron-3 > .left-box {
    width: 39%;
    padding: 50px;
  }
  .pill {
    margin-top: 15px;
  }
  .jumbotron-3 > .left-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-3 > .left-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .jumbotron-4 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-4 .left-box {
    width: 60%;
    height: inherit;
    background: #039352;
    background-image: url("bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 100px 100px;
  }
  #left-box-chat-icon {
    float: right;
  }

  .jumbotron-4 > .left-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 68px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-4 > .left-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .jumbotron-4 .right-box {
    width: 40%;
    overflow: hidden;
    background-image: url("/src/conversation.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }
  .jumbotron-4 .right-box img {
    display: none;
  }
  .jumbotron-5 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-5 .left-box {
    width: 50%;
    overflow: hidden;
    position: relative;
  }
  .jumbotron-5 .left-box img {
    width: 432px;
    position: absolute;
    top: 100px;
    left: 60px;
  }
  .jumbotron-5 .right-box {
    width: 50%;
    padding: 100px 50px;
  }

  .jumbotron-5 > .right-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 68px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-5 > .right-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .jumbotron-6 {
    width: 100%;
    background: #272727;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-6 .left-box {
    width: 50%;
    height: inherit;
    background: #272727;
    position: relative;
  }
  .jumbotron-6 .left-box img {
    width: 550px;
    position: absolute;
    top: 0;
    object-fit: cover;
    left: -11%;
    margin-left: 9%;
  }
  .jumbotron-6 .right-box {
    width: 50%;
    height: inherit;
    background: #272727;
    padding: 100px 50px;
  }
  #filter-icon {
    float: right;
  }

  .jumbotron-6 > .right-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 68px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-6 > .right-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .jumbotron-7 {
    width: 100%;
    background: #fff;
    padding: 0px 80px;
  }
  .jumbotron-7 > h2 {
    width: 35%;
    color: #007640;
    font-family: "DM Sans", sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 69px;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 35px 15px;
  }
  .feature-box {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .inner-feature-boxes {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .left-inner-feature-box {
    padding: 10px;
    display: flex;
  }
  .chain-link {
    align-self: flex-start;
    height: 398px;
    margin-top: 15px;
  }
  .features-text-content {
    padding-left: 20px;
  }
  .features-text-content > h4 {
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .features-text-content > p {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 73px;
  }
  .inner-feature-boxes:nth-child(2) {
    margin: auto;
  }
  .inner-feature-boxes:nth-child(2) img {
    width: 420px;
  }
  .big-green-box {
    background-color: #029f58;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    bottom: 280px;
    width: 100%;
    margin-bottom: -150px;
  }
  .left-container {
    width: 40%;
    border-radius: 100px;
    padding: 104px 63px 0px 64px;
  }
  .right-container {
    width: 60%;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .right-container > div {
    padding: 50px;
  }
  .right-container h2 {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
  }
  .right-container p {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
  }
  .bottom-store-buttons {
    outline: none;
    width: 180px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    margin-left: 10px;
  }
  .bottom-store-buttons img {
    width: 180px;
  }

  .footer-container {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    grid-column-gap: 39px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 auto;
  }
  .footer-container > div {
    background-color: #fff;
    padding: 20px;
  }
  #email-container {
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: left;
  }
  #email-subscription-headline {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
  }
  #email-subscription-headline > span {
    font-weight: 700;
  }
  #email-field {
    width: 72%;
    height: 56px;
    border: 1px solid rgba(18, 18, 18, 0.3);
    box-sizing: border-box;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 15px;
  }
  #subscribe-button {
    width: 180px;
    height: 56px;
    background: #121212;
    border-radius: 0px 10px 10px 0px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    position: relative;
    top: -1.5px;
    cursor: pointer;
  }
  .footer-container h5 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #121212;
    margin-bottom: 20px;
  }
  .footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer-container li {
    padding: 10px 0px;
    display: block;
  }
  .footer-container a {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 165.4%;
    color: #121212;
    margin: 0px;
  }
  .footer-logo-container {
    padding-top: 120px !important;
    display: flex;
    width: 210px;
  }
  .footer-brand {
    font-size: 45px;
  }
  .footer-logo {
    padding: 13px;
  }
  .footer-logo a img {
    width: 45px;
    height: 45px;
    margin-right: 1px;
  }
  .social-media-handles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .App {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-1 {
    max-width: 100%;
    background-color: #029f58;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-logo {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
  }
  .nav-logo img {
    align-self: center;
  }
  .nav-brand {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin-left: 3px;
    align-self: center;
  }
  #main-nav {
    margin-left: auto;
    margin-right: 40px;
    margin-top: 20px;
  }
  #menu-icon {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  #main-nav > ul {
    list-style-type: none;
    padding: 0;
  }
  #main-nav li {
    display: inline;
  }
  #main-nav > ul > li > a {
    padding: 15px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #fff;
  }
  .main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
  }
  .headline-container {
    max-width: 100%;
    padding: 0px 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .headline {
    font-family: "DM Sans", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 54.05px;
    color: #fff;
  }
  .tagline {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin-top: -40px;
  }
  .store-button-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .top-store-buttons {
    outline: none;
    width: 242px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    margin: 0px 10px 30px 0px;
  }
  .top-store-buttons img {
    width: 242px;
  }
  .phones-container {
    min-height: 403px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  #phone1 {
    width: 260px;
    position: absolute;
    top: 165px;
    margin-top: 65px;
    margin-right: 350px;
    transform: rotate(-22.7deg);
  }
  #phone2 {
    width: 260px;
    position: absolute;
    margin-right: -350px;
    margin-top: 65px;
    top: 165px;
    transform: rotate(22.7deg);
  }
  #phone3 {
    width: 270px;
    position: absolute;
    top: 0;
    margin-top: 100px;
  }
  .jumbotron-2 {
    width: 100%;
    background-color: #fafafa;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .text-box {
    background-color: transparent;
    margin: 0px;
    text-align: left;
    width: 60%;
    padding: 40px 40px 60px;
    position: relative;
  }
  .text-box h3 {
    color: #007640;
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: medium;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -3%;
    text-align: left;
    position: relative;
    z-index: 1;
    margin-top: 50px;
  }
  .text-box p {
    font-family: "DM Sans", sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    margin-top: -30px;
    position: relative;
    z-index: 1;
  }

  .text-box > img {
    position: absolute;
    left: 20px;
    z-index: 1;
  }
  .image-box {
    width: 40%;
    padding: 0px 30px;
  }
  .image-box img {
    width: 400px;
  }

  .jumbotron-3 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .jumbotron-3 > .left-box {
    width: 100%;
    padding: 80px 150px;
    order: 1;
  }
  .pill {
    margin-top: 15px;
  }
  .jumbotron-3 > .left-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-3 > .left-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
  }
  .jumbotron-3 .right-box {
    width: 100%;
    order: 2;
    padding: 65px 130px 120px 129px;
  }
  .jumbotron-3 .right-box img {
    width: inherit;
    height: inherit;
  }
  .jumbotron-4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-4 .left-box {
    width: 100%;
    height: inherit;
    background: #039352;
    background-image: url("bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 90px 150px;
  }
  #left-box-chat-icon {
    float: right;
  }

  .jumbotron-4 > .left-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: 500;
    color: #fff;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-4 > .left-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.9;
  }
  .jumbotron-4 .right-box img {
    display: unset;
  }

  .jumbotron-4 .right-box {
    width: 100%;
    overflow: hidden;
    height: 500px;
    background-image: url("/src/conversation.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .jumbotron-5 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-5 .left-box {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
  }

  .jumbotron-5 .left-box img {
    width: 432px;
    position: relative;
    top: 100px;
    left: 200px;
  }
  .jumbotron-5 .right-box {
    width: 100%;
    padding: 90px 150px;
  }

  .jumbotron-5 > .right-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-5 > .right-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
  }

  .jumbotron-6 {
    width: 100%;
    background: #272727;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-6 .left-box {
    width: 100%;
    height: inherit;
    background: #272727;
  }
  .jumbotron-6 .left-box img {
    margin-left: 8%;
    width: 584px;
    height: inherit;
  }
  .jumbotron-6 .right-box {
    width: 100%;
    height: inherit;
    background: #272727;
    padding: 30px 150px 90px;
  }
  #filter-icon {
    float: right;
  }

  .jumbotron-6 > .right-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 101.1%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-6 > .right-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
  }
  .jumbotron-7 {
    width: 100%;
    background: #fff;
    padding: 20px 20px 0px 20px;
  }
  .jumbotron-7 > h2 {
    width: 100%;
    color: #007640;
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .feature-box {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .inner-feature-boxes {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .left-inner-feature-box {
    padding: 20px 20px 0px 30px;
    display: flex;
  }
  .inner-feature-boxes:nth-child(2) img {
    width: 350px;
    position: relative;
    top: 50px;
  }
  .chain-link {
    align-self: flex-start;
    height: 350px;
    margin-top: 3px;
  }
  .features-text-content {
    padding-left: 20px;
  }
  .features-text-content > h4 {
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 116.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .features-text-content > p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #121212;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 150%;
    text-align: left;
    margin-bottom: 73px;
  }
  .big-green-box {
    background-color: #029f58;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    bottom: 80px;
    width: 100%;
    margin-bottom: -150px;
  }
  .left-container {
    width: 40%;
    border-radius: 100px;
    padding: 90px 73px 0px 64px;
  }
  .left-container > img {
    width: 280px;
    margin: 0;
    position: relative;
    top: 2.4px;
  }
  .right-container {
    width: 60%;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .right-container > div {
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .right-container h2 {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
  }
  .right-container p {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }
  .bottom-store-buttons {
    outline: none;
    width: 242px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    margin-top: 20px;
  }
  .bottom-store-buttons img {
    width: 242px;
  }

  .footer-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px 0px;
    margin: 200px auto auto;
  }
  .footer-container > div {
    background-color: #fff;
    padding: 5px 20px;
  }
  .footer-container > div:nth-child(2) {
    width: 100%;
  }

  #email-container {
    text-align: left;
  }
  #email-subscription-headline {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
  }
  #email-subscription-headline > span {
    font-weight: 700;
  }
  #email-field {
    width: 100%;
    height: 56px;
    border: 1px solid rgba(18, 18, 18, 0.3);
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 15px;
  }
  #subscribe-button {
    width: 100%;
    height: 56px;
    background: #121212;
    border-radius: 0px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    position: relative;
    top: 5.5px;
    cursor: pointer;
  }
  .footer-container h5 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 150%;
    color: #121212;
    margin-bottom: 20px;
  }
  .footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer-container li {
    padding: 10px 0px;
    display: block;
  }
  .footer-container a {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
    margin: 0px;
  }
  .footer-logo-container {
    padding-top: 40px !important;
    display: flex;
  }
  .footer-brand {
    font-size: 40px;
    padding: 0;
  }
  .footer-logo > img {
    width: 30px;
    height: 35px;
  }
  .footer-logo {
    padding: 50px 0px 0px 0px;
  }
  .footer-logo a img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }
  .social-media-handles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .App {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-1 {
    max-width: 100%;
    background-color: #029f58;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 50px;
    padding-top: 20px;
  }
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 4;
    background-color: #029f58;
  }
  .nav-logo {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
  }
  .nav-logo img {
    align-self: center;
  }
  .nav-brand {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin-left: 3px;
    align-self: center;
  }
  #main-nav {
    display: none;
  }
  #menu-icon {
    display: block;
    position: relative;
    right: -45%;
    cursor: pointer;
  }
  .mobile-menu {
    display: block;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;

    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 54.05px;
    color: #000;
    text-align: center;
  }
  .inner-mobile-menu-container {
    padding-top: 75px;
  }
  .mobile-menu span,
  .mobile-menu a {
    font-family: "DM Sans", sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 54.05px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .mobile-menu a:active {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 54.05px;
    color: #007640;
    text-decoration: none;
  }

  .main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
  }
  .headline-container {
    max-width: 100%;
    padding: 0px 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .headline {
    font-family: "DM Sans", sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 54.05px;
    color: #fff;
  }
  .tagline {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin-top: -60px;
  }
  .store-button-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .top-store-buttons {
    outline: none;
    width: 242px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    margin: 0px 10px 30px 0px;
  }
  .top-store-buttons img {
    width: 242px;
  }
  .phones-container {
    min-height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  #phone1 {
    display: none;
  }
  #phone2 {
    display: none;
  }
  #phone3 {
    width: 180px;
    position: relative;
    top: 0;
    margin-top: 0;
  }
  .jumbotron-2 {
    width: 100%;
    background-color: #fafafa;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    top: -140px;
    z-index: 3;
  }
  .text-box {
    background-color: transparent;
    margin: 0px;
    text-align: left;
    width: 100%;
    padding: 20px 20px 40px;
    position: relative;
  }
  .text-box h3 {
    color: #007640;
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: medium;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -3%;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  .text-box p {
    font-family: "DM Sans", sans-serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    margin-top: -30px;
    position: relative;
    z-index: 1;
  }
  .text-box > img {
    position: absolute;
    right: -40px;
    left: auto;
    z-index: 0;
    overflow: hidden;
    transform: rotate(11.99deg);
  }
  .image-box {
    display: none;
  }
  .jumbotron-3 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .jumbotron-3 > .left-box {
    width: 100%;
    padding: 50px;
    order: 2;
  }
  .pill {
    margin-top: 15px;
  }
  .jumbotron-3 > .left-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-3 > .left-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
  }
  .jumbotron-3 .right-box {
    width: 100%;
    order: 1;
    padding: 55px 64px 55px 65px;
    margin-top: -100px;
  }
  .jumbotron-3 .right-box img {
    width: inherit;
    height: inherit;
  }
  .jumbotron-4 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-4 .left-box {
    width: 100%;
    height: inherit;
    background: #039352;
    background-image: url("bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
  }
  #left-box-chat-icon {
    float: right;
  }

  .jumbotron-4 > .left-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: 500;
    color: #fff;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-4 > .left-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.9;
  }

  .jumbotron-4 .right-box {
    width: 100%;
    overflow: hidden;
    height: 500px;
    background-image: url("/src/conversation.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }
  .jumbotron-5 {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }

  .jumbotron-5 .left-box {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    order: 2;
  }

  .jumbotron-5 .left-box img {
    width: 300px;
    position: relative;
    top: 50px;
    left: 11.5%;
  }
  .jumbotron-5 .right-box {
    width: 100%;
    padding: 50px;
    order: 1;
  }

  .jumbotron-5 > .right-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-5 > .right-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
  }
  .jumbotron-6 {
    width: 100%;
    background: #272727;
    display: flex;
    flex-wrap: wrap;
  }
  .jumbotron-6 .left-box {
    width: 100%;
    height: inherit;
    background: #272727;
  }
  .jumbotron-6 .left-box img {
    margin-left: 0%;
    width: 350px;
    height: inherit;
    position: relative;
    left: 10px;
  }

  .jumbotron-6 .right-box {
    width: 100%;
    height: inherit;
    background: #272727;
    padding: 50px;
  }
  #filter-icon {
    float: right;
  }

  .jumbotron-6 > .right-box h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 101.1%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .jumbotron-6 > .right-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
  }
  .jumbotron-7 {
    width: 100%;
    background: #fff;
    padding: 20px 20px 0px 20px;
  }
  .jumbotron-7 > h2 {
    width: 100%;
    color: #007640;
    font-family: "DM Sans", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .feature-box {
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  .inner-feature-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .left-inner-feature-box {
    padding: 20px 20px 0px 30px;
    display: flex;
  }

  .inner-feature-boxes:nth-child(2) img {
    width: inherit;
  }
  .chain-link {
    align-self: flex-start;
    height: 350px;
    margin-top: 3px;
  }
  .features-text-content {
    padding-left: 20px;
  }
  .features-text-content > h4 {
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 116.6%;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .features-text-content > p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #121212;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 150%;
    text-align: left;
    margin-bottom: 73px;
  }
  .big-green-box {
    background-color: #029f58;
    background-image: url("/src/bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    bottom: 280px;
    width: 100%;
    margin-bottom: -150px;
  }
  .left-container {
    display: none;
  }
  .right-container {
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .right-container > div {
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .right-container h2 {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.6%;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
  }
  .right-container p {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
  }
  .bottom-store-buttons {
    outline: none;
    width: 200px;
    padding: 0px;
    border-radius: 7px;
    border: none;
    margin-top: 20px;
  }
  .bottom-store-buttons img {
    width: 200px;
  }

  .footer-container {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 auto;
  }
  .footer-container > div {
    width: 100%;
    background-color: #fff;
    padding: 5px 20px;
  }

  #email-container {
    text-align: left;
  }
  #email-subscription-headline {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
  }
  #email-subscription-headline > span {
    font-weight: 700;
  }
  #email-field {
    width: 100%;
    height: 56px;
    border: 1px solid rgba(18, 18, 18, 0.3);
    box-sizing: border-box;
    outline: none;
    border-radius: 0px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 15px;
  }
  #subscribe-button {
    width: 100%;
    height: 56px;
    background: #121212;
    border-radius: 0px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    position: relative;
    top: 5.5px;
    cursor: pointer;
  }
  .footer-container h5 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #121212;
    margin-bottom: 20px;
  }
  .footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer-container li {
    padding: 10px 0px;
    display: block;
  }
  .footer-container a {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
    margin: 0px;
  }
  .footer-logo-container {
    padding-top: 40px !important;
    display: flex;
  }
  .footer-brand {
    font-size: 40px;
    padding: 0;
  }
  .footer-logo > img {
    width: 30px;
    height: 35px;
  }
  .footer-logo {
    padding: 50px 0px 0px 0px;
  }
  .footer-logo a img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }
  .social-media-handles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .headline {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54.05px;
    color: #fff;
  }
  .chain-link {
    align-self: flex-start;
    height: 430px;
    margin-top: 3px;
  }
  .jumbotron-5 .left-box {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    order: 2;
  }

  .jumbotron-5 .left-box img {
    width: 300px;
    position: relative;
    top: 50px;
    left: 3%;
  }
  .jumbotron-6 .left-box {
    width: 100%;
    height: inherit;
    background: #272727;
  }
  .jumbotron-6 .left-box img {
    margin-left: 0%;
    width: 100%;
    height: inherit;
    position: relative;
    left: -5px;
  }
  #menu-icon {
    display: block;
    position: relative;
    right: -110px;
    cursor: pointer;
    outline: none;
  }
  .mobile-menu {
    display: block;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 54.05px;
    color: #000;
    text-align: center;
  }
  .inner-mobile-menu-container {
    padding-top: 55px;
  }
  .mobile-menu span,
  .mobile-menu a {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 54.05px;
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .mobile-menu a:active {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 54.05px;
    color: #007640;
    text-decoration: none;
  }
}
